/proyectoBookingHibernate/nbproject/private/
/proyectoBookingHibernate/build/
/proyectoBookingHibernate/dist/
/proyectoBookingHibernate4/proyectoBookingHibernate/build/
/proyectoBookingHibernate4/proyectoBookingHibernate/dist/
/proyectoBookingHibernate4/proyectoBookingHibernate/nbproject/private/